.nav > header.MuiAppBar-colorPrimary.nav-transparent {
    background-color: transparent;
}

.nav > header.MuiAppBar-colorPrimary.nav-shadow {
    background-color: rgba(0, 0, 0, 0.4);
}

.nav > .MuiPaper-elevation4 {
    box-shadow: none;
}

.nav button.MuiButton-root, .nav button.MuiIconButton-root{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: none;
    outline: none;
}

.nav button.MuiButton-root:hover, .nav button.MuiIconButton-root:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: whitesmoke;
}

a:hover{
    text-decoration: none;
}

